/*pas toucher ici*/
body{

  font-family: var(--ff-normal); /*grandeur general de la typo*/
  font-size: var(--fz-normal);
  color: var(--color-text-primary);
  line-height: var(--lh-normal);
  background: var(--color-bg-primary); /*arrier plan*/
}